@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff2") format("woff2"),
		url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';



// Modules


@import 'modules/skins/color-1.scss';
@import 'style-switcher';
@import 'modules/header';
@import 'modules/nav-menu';
@import 'modules/home';
@import 'modules/about';
@import 'modules/service';
@import 'modules/portfolio';
@import 'modules/testimonial';
@import 'modules/contact';




// Media
@import 'media';